<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Family Medicine</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" href="~/Content/imgs/logos/logoConColor.png" />


    <script src="https://kit.fontawesome.com/e77fc0ae51.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container">

            <a href="@Url.Action("Index", "Home")" title="Widget View" class="links">
                <img width="100px" alt="Widget View" src="@Url.Content("~/Content/imgs/logos/lgoBlanco.png")">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a> @Html.ActionLink("Laboratorios", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</a>
                    </li>
                    <li class="nav-item">
                        <a> @Html.ActionLink("Exámenes", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a> @Html.ActionLink("Iniciar Sesión", "Login", "Home", new { area = "" }, new { @class = "nav-link" }) </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a> @Html.ActionLink("Carrito de Compras", "CarritoDeCompras", "Home", new { area = "" }, new { @class = "nav-link" }) </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()

        <hr />

        <footer>
            <p>&copy; @DateTime.Now.Year - Family Medicine</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
