@model List<DTO.Examen>
@{
    ViewBag.Title = "CarritoDeCompras";
}

<link rel="stylesheet" href="~/Content/css/carritoDeCompras.css" />


<hgroup class="grupoCarrito">
    <div class="divContenedorDeTodosLosExamenes">
        @foreach (var u in Model)
        {
            <section id="@u.ExamenId" class="ContenedorDeExamenes">
                <div class="flexClass divExamenCotenido">
                    <h2 class="tituloDeExamen">@u.Nombre</h2>
                    <p class="descripcionExamen">@u.Descripcion</p>
                </div>
                <div class="flexClass">
                    <span class="precioMonto">₡@u.Precio</span>
                </div>
                <button type="submit" id="@u.ExamenId" class="eliminarExamen"><i class="fa-solid fa-trash"></i></button>
            </section>
        }
    </div>

    <!--CONTENEDOR DE PAGOS-->

    <section class="contenidoPreciosPago">
        <h3 class="tituloResumen"></h3>


        @foreach (var u in Model)
        {
            <div id="@u.ExamenId">
                <hgroup class="grupoCarritoInfomacion">
                    <div class="contentenedorDelNumeroDeProductos">
                        <span class="numeroDeProductosOdeCargosExtra V4">1</span>
                        <span class="textNormalCarrito">@u.Nombre</span>
                    </div>
                    <span class="contendorPrecioTotalDeLosProductos V1">₡@u.Precio</span>
                </hgroup>
            </div>
        }


        <hgroup class="grupoCarritoInfomacion">
            <div class="contentenedorDelNumeroDeProductos">
                <span class="numeroDeProductosOdeCargosExtra V5">1</span>
                <span class="textNormalCarrito">Cargo extra</span>
            </div>
            <span class="contendorPrecioTotalDeLosProductos V2">₡150</span>
        </hgroup>

        <hgroup class="grupoCarritoInfomacion">
            <h2 class="textNormalCarrito">Total</h2>
            <span class="contendorPrecioTotalDeLosProductos V3 total">₡24150</span>
        </hgroup>

        <hr />

        <a class="pagoPorPaypal" style="text-decoration:none;" href="javascript:ventanaSecundaria('https://deportesymas.com.es/ejemplo.html')">Pagar por PAYPAL</a>
        <!--<button class="pagoPorPaypal">Pagar por PAYPAL</button>-->

        <input type="text" class="pagoPorPaypal form-control" style="width: 300px" placeholder="Usar cupon">
        <div class=" input-group-append mb-3" style="margin: 0 auto;">
            <button class="btn btn-primary" type="button">Aplicar</button>
        </div>



    </section>

</hgroup>
@foreach (var u in Model)
{
<script>
        document.getElementById("@u.ExamenId").onclick = function () {
            document.getElementById("@u.ExamenId").remove();
        }
</script>
}
    <script src="~/Scripts/Views/ConsumoApi/ApiCarrito.js"></script>
    <script src="~/Scripts/Views/carritoDeComprasjs.js"></script>
    <script src="https://kit.fontawesome.com/e77fc0ae51.js" crossorigin="anonymous"></script>

