
@{ ViewBag.Title = "DashBoardCitas";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml"; }

<link rel="stylesheet" href="~/Content/css/DashboardCss/DashboardCliente.css" />
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<style>
    /*Este style contien la clase de nav activo las opciones A1, A2, A3... etc estan en el layout */
    .A1 {
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        text-decoration: none;
        background-color: #f3f3f363;
    }
</style>

<div class="divContenedorDelDashUno" style="position:relative;">
    <section class="contenedorUsuario">
        <section class="cotenedorDeDatos">
            <div class="datoGeneralImage">
                <img id="file-ip-1-preview" src="https://josuergweb.web.app/image/josue.jpg" class="imgDashBoard" />
                <button data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="buttonHiddenEditor"><i style="color: #ffffff" class="fa-solid fa-pen-to-square"></i></button>
            </div>
          
            <div class="datoGeneral">
                <h2 class="titleGeneral">Mi Perfil</h2>
                <section class="ContenedorDeDashboardFleROW" style="gap: 1px">
                    <p class="tituloGeneralDos">Numero de cuenta: </p>
                    @{
                        var id = Session["UsuarioId"];
                        <span id="idUsuario" class="textoGeneralUSO">@id</span>
                    }

                </section>
                
                <section class="ContenedorDeDashboardFleROW" style="gap: 1px">
                    <p class="tituloGeneralDos">Nombre: </p>
                    @{
                        var nombre = Session["nombreUsuario"];
                        <span id="nombreUsuario" class="textoGeneralUSO">@nombre</span>
                        var primerApellido = Session["primerApellido"];
                        <span id="primerApellidoUsuario" class="textoGeneralUSO">@primerApellido</span>
                        var segundoApellido = Session["segundoApellido"];
                        <span id="segundoApellidoUsuario" class="textoGeneralUSO">@segundoApellido</span>
                    }
                </section>

                <section class="ContenedorDeDashboardFleROW" style="gap: 1px">
                    <p class="tituloGeneralDos">Telefono: </p>
                    @{
                        var telefono = Session["telefono"];
                       <span id="telefonoUsuario" class="textoGeneralUSO">@telefono</span>
                    }
                    </section>

                <section class="ContenedorDeDashboardFleROW" style="gap: 1px">
                    <p class="tituloGeneralDos">Correo: </p>
                    @{
                        var correo = Session["Correo"];
                        <span id="correoUsuario" class="textoGeneralUSO">@correo</span>
                    }
                </section>
                <button data-bs-toggle="modal" data-bs-target="#form" style="padding-top: 10px;" type="button" class="btn btn-primary mt-1">Editar</button>
            </div>
        </section>



        <!--====================================FORMULARIOS POPUS===================================-->
        <!--FORM PARA EL CAMBIO DE IMAGEN-->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Cambiar foto de perfil</h5>
                    </div>
                    <form>
                        <div class="modal-body">
                            <label for="formFileMultiple" class="form-label">Elije tu foto</label>
                            <input type="file" id="file-ip-1" required class="form-control" accept="image/*" onchange="showPreview(event);">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Enviar</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--FORMULARIO PARA EDITAR EL PERFIL-->
        <div class="modal fade" id="form" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form data-aos="fade-up" class="was-validated mb-1 mt-1 formContenedorId" id="formContenedorId">
                        @{          
                            var Clave = Session["Clave"];
                            <div>
                                <label for="staticEmail" class=" tituloGeneralTres">Nombre</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control formPupUp" id="txtNombre" value="@nombre">
                                </div>
                            </div>                         
                            <div>
                                <label for="staticEmail" class=" tituloGeneralTres">Primer apellido</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control formPupUp" id="txtPrimerApellido" value="@primerApellido">
                                </div>
                            </div>

                            <div>
                                <label for="staticEmail" class=" tituloGeneralTres">Segundo apellido</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control formPupUp" id="txtSegundoApellido" value="@segundoApellido">
                                </div>
                            </div>

                            <div>
                                <label for="staticEmail" class=" tituloGeneralTres">Telefono</label>
                                <div class="col-sm-10">
                                    <input type="tel" class="form-control formPupUp" id="txtTelefono" value="@telefono">
                                </div>
                            </div>

                            <div>
                                <label for="staticEmail" class=" tituloGeneralTres">Correo</label>
                                <div class="col-sm-10">
                                    <input type="email" pattern="^[a-zA-Z0-9._+-]+@("@")[a-zA-Z0-9.-]+\.[a-zA-Z]{2,9}$" class="form-control formPupUp" id="txtCorreo" value="@correo">
                                </div>
                            </div>

                            <div>
                                <label for="staticEmail" class=" tituloGeneralTres">Contraseña</label>
                                <div class="col-sm-10 ContenedorDeDashboardFleROW">
                                    <input type="password" class="form-control formPupUp" id="txtClave" value="@Clave">
                                </div>
                            </div>

                            <div class="form-check form-switch">
                                <input class="form-check-input" onclick="verPassword()" type="checkbox" id="flexSwitchCheckChecked">
                                <label class="form-check-label" for="flexSwitchCheckChecked">Ver contraseña</label>
                            </div>

                            <div class="modal-footer">
                                <button id="btnActualizarCliente" type="submit" class="btn btn-primary data-bs-dismiss=" modal" mt-1">Guardar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>

                        }
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="https://kit.fontawesome.com/e77fc0ae51.js" crossorigin="anonymous"></script>
<script src="~/Scripts/Views/dashboardUsuario/DashboardValidacion.js"></script>
<script src="~/Scripts/Views/dashboardUsuario/DashboardCliente.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>