@{
    ViewBag.Title = "Home Page";
}

<style>
    .textoDeInicio {
        color: #ffffff !important;
        text-shadow: #00000050 2px 2px 10px !important;
    }
</style>

<script src="https://kit.fontawesome.com/8ce25482e7.js" crossorigin="anonymous"></script>

<div class="carousel mb-4">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img loading="lazy" src="~/img/laboratorio.jpg" class="d-block w-100" style="opacity:0.80 !important; border-radius: 5px" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="text-black textoDeInicio"><strong>Family Medicine</strong></h1>
                <h2 class="text-black text-center textoDeInicio"><strong>Los mejores laboratorios en un solo lugar</strong></h2>
            </div> 
        </div>
    </div>  
</div>

<div class="container shadow mb-5" style="border-radius: 5px">
    <div class="row align-items-center justify-content-center">
        <div class="col-3 col-sm-2 text-center">
            <img loading="lazy" src="~/img/laboratorio-icon.png" class="w-75 p-2" alt="...">
        </div>
        <div class="col-5">
            <h2>
                Laboratorios
            </h2>
            <p>
                En Family Medicine te ofrecemos diferentes opciones de laboratorios, para que puedas seleccionar el que más se ajuste a tus necesidades.
            </p>
        </div>
        <div class="col-3 text-center">
            <a> @Html.ActionLink("Ver todos", "Busqueda", "Home", new { area = "" }, new { @class = "btn btn-primary" })</a>
        </div>
    </div>
</div>

<div class="container shadow mb-5" style="border-radius: 5px">
    <div class="row align-items-center justify-content-center">
        <div class="col-3 col-sm-2 text-center">
            <img loading="lazy" src="~/img/tubo-icon.png" class="w-75 p-2" alt="...">
        </div>
        <div class="col-5">
            <h2>
                Exámenes
            </h2>
            <p>
                En Family Medicine te ofrecemos múltiples  opciones de análisis de laboratorio, para garantizarte un estudio completo de tu salud.
            </p>
        </div>
        <div class="col-3 text-center">
            <a> @Html.ActionLink("Ver todos", "BusquedaExamen", "Home", new { area = "" }, new { @class = "btn btn-primary" })</a>
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="row align-items-center justify-content-center">
        <div class="col-4 text-center border-bottom" style="border-bottom-width: thick !important; border-bottom-color: #325d88 !important; ">
            <h2>¿Porqué Family Medicine?</h2>
        </div>
    </div>
</div>


<div class="row align-items-center justify-content-center mb-5">
    <div class="col-auto">
        <div class="card border-light m-0 shadow-sm" style="max-width: 20rem;">
            <div class="card-header text-center">
                <h5><strong>Compra de pruebas en línea</strong></h5>
            </div>
            <div class="card-body" style="min-height:326px">
                <div class="text-center mb-2">
                    <img src="~/img/compra.jpg" class="w-100" alt="..." style="border-radius: 5px; max-height: 190px">
                </div>
                <p class="card-text">Ahora podés adquirir las pruebas de laboratorio que necesités, de forma rápida y segura, desde donde estés.</p>
            </div>
        </div>
    </div>
    <div class="col-auto">
        <div class="card border-light m-0 shadow-sm" style="max-width: 20rem;">
            <div class="card-header text-center">
                <h5><strong>Expediente electrónico</strong></h5>
            </div>
            <div class="card-body" style="min-height:326px">
                <div class="text-center mb-2">
                    <img loading="lazy" src="~/img/expediente.jpg" class="w-100" alt="..." style="border-radius: 5px; max-height: 190px">
                </div>
                <p class="card-text">Consultá tu historial de resultados, de forma segura y confidencial, en cualquier momento.</p>
            </div>
        </div>
    </div>
    <div class="col-auto">
        <div class="card border-light m-0 shadow-sm" style="max-width: 20rem;">
            <div class="card-header text-center">
                <h5><strong>Variedad de opciones</strong></h5>
            </div>
            <div class="card-body" style="min-height:326px">
                <div class="text-center mb-2">
                    <img loading="lazy" src="~/img/microscopio.jpg" class="w-100" alt="..." style="border-radius: 5px; max-height: 190px">
                </div>
                <p class="card-text">Podés acceder a una gran variedad de laboratorios ubicados por todo el país y escoger el que más se ajuste a tus necesidades.</p>
            </div>
        </div>
    </div>
</div>

<div class="container border-top" style="border-top-width: thick !important; border-top-color: #325d88 !important; ">
    <div class="row align-items-center justify-content-center">
        <div class="col-3 p-0">
            <div class="container p-4">
                <div class="container p-0">
                    <div class="row p-0 align-items-center justify-content-center">
                        <div class="col-2 text-center p-0">
                            <h2 class="text-primary m-0"><i class="fa-brands fa-square-whatsapp"></i></h2>
                        </div>
                        <div class="col-5 p-0">
                            <a href="https://www.whatsapp.com/?lang=es" class="text-black text-decoration-none m-0 p-0 h5">Whatsapp</a>
                        </div>
                    </div>
                </div>
                <div class="container p-0">
                    <div class="row p-0 align-items-center justify-content-center">
                        <div class="col-2 text-center p-0">
                            <h2 class="text-primary m-0"><i class="fa-brands fa-square-facebook"></i></h2>
                        </div>
                        <div class="col-5 p-0">
                            <a href="https://es-la.facebook.com/" class="text-black text-decoration-none m-0 p-0 h5">Facebook</a>
                        </div>
                    </div>
                </div>
                <div class="container p-0">
                    <div class="row p-0 align-items-center justify-content-center">
                        <div class="col-2 text-center p-0">
                            <h2 class="text-primary m-0"><i class="fa-brands fa-square-instagram"></i></h2>
                        </div>
                        <div class="col-5 p-0">
                            <a href="https://www.instagram.com/" class="text-black text-decoration-none m-0 p-0 h5">Instagram</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 p-0">
            <div class="container p-4">
                <div class="container p-0 mb-1">
                    <div class="row p-0 align-items-center justify-content-center">
                        <div class="col-1 text-center p-0">
                            <h4 class="text-primary m-0"><i class="fa-solid fa-users"></i></h4>
                        </div>
                        <div class="col-5 p-0">
                            <a> @Html.ActionLink("Sobre Nosotros", "LandingPage", "Home", new { area = "" }, new { @class = "text-black text-decoration-none m-0 p-0 h5" })</a>
                        </div>
                    </div>
                </div>
                <div class="container p-0 mb-1">
                    <div class="row p-0 align-items-center justify-content-center">
                        <div class="col-1 text-center p-0">
                            <h4 class="text-primary m-0"><i class="fa-solid fa-envelope"></i></h4>
                        </div>
                        <div class="col-5 p-0">
                            <a> @Html.ActionLink("Contactanos", "Contactenos", "Footer", new { area = "" }, new { @class = "text-black text-decoration-none m-0 p-0 h5" })</a>
                        </div>
                    </div>
                </div>
                <div class="container p-0 mb-1">
                    <div class="row p-0 align-items-center justify-content-center">
                        <div class="col-1 text-center p-0">
                            <h4 class="text-primary m-0"><i class="fa-solid fa-file-lines"></i></h4>
                        </div>
                        <div class="col-5 p-0">
                            <a> @Html.ActionLink("Términos y condiciones", "TerminosCondiciones", "Footer", new { area = "" }, new { @class = "text-black text-decoration-none m-0 p-0 h5" })</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 p-0">
            <div class="container p-4">
                <div class="container p-0">
                    <div class="row p-0 align-items-center justify-content-center">
                        <div class="col-2 text-center p-0">
                            <h3 class="text-primary m-0"><i class="fa-solid fa-circle-question"></i></h3>
                        </div>
                        <div class="col-8 p-0">
                            <a> @Html.ActionLink("Preguntas frecuentes", "PreguntasFrecuentes", "Footer", new { area = "" }, new { @class = "text-black text-decoration-none m-0 p-0 h5" })</a>
                        </div>
                    </div>
                </div>
                <div class="container p-0">
                    <div class="row p-0 align-items-center justify-content-center">
                        <div class="col-2 text-center p-0">
                            <h2 class="text-primary m-0"><i class="fa-solid fa-fish"></i></h2>
                        </div>
                        <div class="col-8 p-0">
                            <a href="https://vancoderscr.web.app/" class="text-black text-decoration-none m-0 p-0 h5">VanCoders</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
